.image {
    width: 500px;
    height: 700px;
}

body {
    background: url("../../assets/images/background-color.jpg");
}

@font-face {
    font-family: "Bahij";
    src: url(../fonts/Bahij.ttf);
}


#myCanvas{
    font-family: "Bahij";
    max-height: 800px;
}


.container {
    display: block;
    margin: auto;
    height: auto;
  }

canvas {
    max-width: 100%;
    object-fit: contain;
}

body{
    font-family: "Bahij";
}